/*-- scss:defaults --*/

// Button colors
$primary: #7CA023!default;
$btn-primary-bg: #7CA023!default;
$btn-primary-border-color: #7CA023!default;

// Link colors
$link-color: #7CA023!default;

// // Button colors
// $primary: #0028A5!default;
// $btn-primary-bg: #0028A5!default;
// $btn-primary-border-color: #0028A5!default;

// // Link colors
// $link-color: #0028A5!default;
